#video-border {
    display: flex;
    flex-flow: row;
}

#snap {
    position: absolute;
    border: none;
    border-radius: 100%;
    z-index: 2;
    /* margin: 17.4% 46.5%; */
    /* margin-right: 145px;
    margin-top: 190px; */
    width: 35px;
    height: 35px;
    background-color: white;
}

.container {
    position: relative;
    border: 1.5px dashed lightgray;
    border-radius: 10px;
    z-index: 2;
    /* margin: 6% 40%; */
    /*display: inline-block;*/
    width: 200px;
    height: 180px;
}

#video {
    display: inline-block;
    position: absolute;
    z-index: 1;
    border-radius: 2px;
    /* margin: 1.8% 35.5%; */
}