.submit-btn{
    background-color: #999999;
    margin: 15px;
    padding: 8px 100px;
    border: 1px solid #8b8a8a;
    border-radius: 5px;
    cursor: pointer;
}

input{
    width: 230px;
    height: 25px;
    font-display: center;
    

}

.need-password{
    color: blue;
    font-size: 70%;
}